In [11]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [22]:
data = pd.read_csv("C:/Users/hyeseung/Desktop/4-2/ML/1202/건대입구역_최종데이터.csv")
data

,Transport_Date,Station_Name,Boarding_Alighting,Passenger_Count,Typhoon,Heatwave,Temperature,Precipitation,Relative_Humidity,Commute,...,일월날짜,승하차,cue,습도,적설,파업,IsHoliday,이전 승하차수,일주일 전 승하차 수,잠실 스포츠
0,2022.1.1,건대입구,승차,362,0,0,-10.1,0.0,0,1,...,1,1,0,53,0.0,0,1,362,362,0
1,2022.1.1,건대입구,하차,180,0,0,-10.1,0.0,0,1,...,1,0,0,53,0.0,0,1,362,180,0
2,2022.1.1,건대입구,승차,1606,0,0,-0.9,0.0,0,0,...,1,1,0,38,0.0,0,1,180,1606,0
3,2022.1.1,건대입구,하차,2758,0,0,-0.9,0.0,0,0,...,1,0,0,38,0.0,0,1,1606,2758,0
4,2022.1.2,건대입구,승차,346,0,0,-2.2,0.0,0,1,...,2,1,0,66,0.1,0,0,2758,346,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,2023.8.30,건대입구,하차,3619,0,0,23.1,0.9,0,0,...,607,0,0,54,0.0,0,0,2489,1044,1
2428,2023.8.31,건대입구,하차,1028,0,0,21.1,0.0,0,1,...,608,0,0,92,0.0,0,0,3619,2348,1
2429,2023.8.31,건대입구,승차,2296,0,0,21.1,0.0,0,1,...,608,1,0,92,0.0,0,0,1028,3361,1
2430,2023.8.31,건대입구,승차,2725,0,0,27.4,0.0,0,0,...,608,1,0,50,0.0,0,0,2296,2404,1
2431,2023.8.31,건대입구,하차,3422,0,0,27.4,0.0,0,0,...,608,0,0,50,0.0,0,0,2725,1045,1

In [13]:
df = data
print(df.head())

# Summary of the data
print(df.describe())

# Columns to remove
cols_to_remove = ["Relative_Humidity", "cue", "Commute", "승하차", "Boarding_Alighting", "Transport_Date", "Station_Name"]

# Splitting the dataframe into four based on 'Commute' and '승하차' conditions
출근승차 = df[(df['Commute'] == 1) & (df['승하차'] == 1)].drop(columns=cols_to_remove)
출근하차 = df[(df['Commute'] == 1) & (df['승하차'] == 0)].drop(columns=cols_to_remove)
퇴근승차 = df[(df['Commute'] == 0) & (df['승하차'] == 1)].drop(columns=cols_to_remove)
퇴근하차 = df[(df['Commute'] == 0) & (df['승하차'] == 0)].drop(columns=cols_to_remove)

  Transport_Date Station_Name Boarding_Alighting  Passenger_Count  Typhoon  \
0       2022.1.1         건대입구                 승차              362        0
1       2022.1.1         건대입구                 하차              180        0
2       2022.1.1         건대입구                 승차             1606        0
3       2022.1.1         건대입구                 하차             2758        0
4       2022.1.2         건대입구                 승차              346        0

   Heatwave  Temperature  Precipitation  Relative_Humidity  Commute  ...  \
0         0        -10.1            0.0                  0        1  ...
1         0        -10.1            0.0                  0        1  ...
2         0         -0.9            0.0                  0        0  ...
3         0         -0.9            0.0                  0        0  ...
4         0         -2.2            0.0                  0        1  ...

   일월날짜  승하차  cue  습도   적설  파업  IsHoliday  이전 승하차수  일주일 전 승하차 수  잠실 스포츠
0     1    1    0  53  0.0   0          1      362          362       0
1     1    0    0  53  0.0   0          1      362          180       0
2     1    1    0  38  0.0   0          1      180         1606       0
3     1    0    0  38  0.0   0          1     1606         2758       0
4     2    1    0  66  0.1   0          0     2758          346       0

[5 rows x 26 columns]
       Passenger_Count      Typhoon     Heatwave  Temperature  Precipitation  \
count      2432.000000  2432.000000  2432.000000  2432.000000    2432.000000
mean       2082.888158     0.069079     0.047697    13.671135       0.230016
std        1113.379353     0.253640     0.213169    11.478638       1.755629
min         166.000000     0.000000     0.000000   -17.000000       0.000000
25%        1042.000000     0.000000     0.000000     4.475000       0.000000
50%        2244.000000     0.000000     0.000000    15.000000       0.000000
75%        2804.250000     0.000000     0.000000    23.900000       0.000000
max        5312.000000     1.000000     1.000000    35.200000      27.700000

       Relative_Humidity      Commute          월요일          화요일          수요일  \
count             2432.0  2432.000000  2432.000000  2432.000000  2432.000000
mean                 0.0     0.500000     0.143092     0.143092     0.143092
std                  0.0     0.500103     0.350239     0.350239     0.350239
min                  0.0     0.000000     0.000000     0.000000     0.000000
25%                  0.0     0.000000     0.000000     0.000000     0.000000
50%                  0.0     0.500000     0.000000     0.000000     0.000000
75%                  0.0     1.000000     0.000000     0.000000     0.000000
max                  0.0     1.000000     1.000000     1.000000     1.000000

       ...        일월날짜          승하차     cue           습도           적설  \
count  ...  2432.00000  2432.000000  2432.0  2432.000000  2432.000000
mean   ...   304.50000     0.500000     0.0    64.738487     0.050822
std    ...   175.55034     0.500103     0.0    21.033769     0.332967
min    ...     1.00000     0.000000     0.0    15.000000     0.000000
25%    ...   152.75000     0.000000     0.0    48.000000     0.000000
50%    ...   304.50000     0.500000     0.0    66.000000     0.000000
75%    ...   456.25000     1.000000     0.0    83.000000     0.000000
max    ...   608.00000     1.000000     0.0   100.000000     5.000000

                파업    IsHoliday      이전 승하차수  일주일 전 승하차 수       잠실 스포츠
count  2432.000000  2432.000000  2432.000000  2432.000000  2432.000000
mean      0.001645     0.019737  2081.629934  2078.932566     0.442434
std       0.040530     0.139123  1113.594432  1114.949755     0.496777
min       0.000000     0.000000   166.000000   166.000000     0.000000
25%       0.000000     0.000000  1042.000000  1041.000000     0.000000
50%       0.000000     0.000000  2244.000000  2243.000000     0.000000
75%       0.000000     0.000000  2801.000000  2801.000000     1.000000
max       1.000000     1.000000  5312.000000  5312.000000     1.000000

[8 rows x 23 columns]

In [14]:
# Checking for outliers in the 'Passenger_Count' column
# Using the IQR (Interquartile Range) method to detect outliers

Q1 = data['Passenger_Count'].quantile(0.25)
Q3 = data['Passenger_Count'].quantile(0.75)
IQR = Q3 - Q1

# Define outliers as those outside of Q1 - 1.5 * IQR and Q3 + 1.5 * IQR
outliers = data[(data['Passenger_Count'] < (Q1 - 1.5 * IQR)) | (data['Passenger_Count'] > (Q3 + 1.5 * IQR))]

# Selecting the index and Transport_Date of the outliers
outlier_info = outliers[['Transport_Date', 'Passenger_Count']]
outlier_info.head()

Empty DataFrame
Columns: [Transport_Date, Passenger_Count]
Index: []

In [24]:
data=출근승차

In [44]:
len(data) - predict_ahead

596

In [57]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

all_predictions = []
window_size = 300
predict_ahead = 1
rmse = []  # To store root mean square errors

for i in range(window_size, len(data) - predict_ahead):
    train_data = data.iloc[:i]
    test_data = data.iloc[i:i + predict_ahead]

    X_train = train_data.drop('Passenger_Count', axis=1)
    y_train = train_data['Passenger_Count']
    X_test = test_data.drop('Passenger_Count', axis=1)
    y_test = test_data['Passenger_Count']

    # Fit the GLM model
    model = sm.GLM(y_train, X_train, family=sm.families.Gaussian())
    results = model.fit()

    # Make predictions
    predictions = results.predict(X_test)
    all_predictions.append(predictions.iloc[0])  # Assuming 'predictions' is a Series

# Convert list to Series
all_predictions_series = pd.Series(all_predictions)

In [63]:
from sklearn.svm import SVR

all_predictions = []
window_size = 300
predict_ahead = 1
rmse = []  # To store root mean square errors

for i in range(window_size, len(data) - predict_ahead):
    train_data = data.iloc[:i]
    test_data = data.iloc[i:i + predict_ahead]

    X_train = train_data.drop('Passenger_Count', axis=1)
    y_train = train_data['Passenger_Count']
    X_test = test_data.drop('Passenger_Count', axis=1)
    y_test = test_data['Passenger_Count']

    # Fit the SVM model
    model = SVR()
    model.fit(X_train, y_train)

    # Make predictions
    predictions = model.predict(X_test)
    all_predictions.append(predictions[0])  # Assuming 'predictions' is an array

    # Calculate RMSE for this prediction and store
    rmse.append(np.sqrt(np.mean((y_test - predictions) ** 2)))

# Convert list to Series
all_predictions_series = pd.Series(all_predictions)

# Calculate overall RMSE
overall_rmse = np.sqrt(np.mean(np.array(rmse)**2))
print(f"Overall RMSE: {overall_rmse}")

Overall RMSE: 826.6517559823989

In [64]:
# Define categorize_prediction function if not already defined
def categorize_prediction(value):
    if value >= 2500:
        return '위험'
    elif value >= 2100:
        return '매우혼잡'
    elif value >= 1800:
        return '혼잡'
    elif value >= 1000:
        return '보통'
    else:
        return '여유'

# Categorize all predictions
categories = all_predictions_series.apply(categorize_prediction)
print(categories.value_counts())

혼잡    296
dtype: int64

In [37]:
print(type(categories))
print(categories.head())

<class 'pandas.core.series.Series'>
2425    매우혼잡
dtype: object

In [38]:
# Assuming 'predictions' is a pandas Series containing all your prediction values
categories = predictions.apply(categorize_prediction)
print(categories.value_counts())

매우혼잡    1
dtype: int64

In [47]:
categories = categories.astype('category')

In [49]:
print(categories.dtypes)
print(categories.head())

category
0      혼잡
1    매우혼잡
2      혼잡
3    매우혼잡
4      혼잡
dtype: category
Categories (4, object): ['매우혼잡', '보통', '여유', '혼잡']

## 시각화

In [54]:
import matplotlib.pyplot as plt

# Count the occurrences of each category
category_counts = categories.value_counts()

# Create a bar plot
plt.bar(category_counts.index, category_counts.values)

# Add labels and title
plt.xlabel('Category')
plt.ylabel('Count')
plt.title('Prediction Categories')

# Show the plot
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\hyeseung\AppData\Local\Temp\ipykernel_16688\3954584436.py", line 7, in <module>
    plt.bar(category_counts.index, category_counts.values)
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 2439, in bar
    # Extract actual aspect ratio of array and make appropriately sized
       ^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 2309, in gca
    ## Plotting part 1: manually generated functions and wrappers ##
               ^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 906, in gcf
    num = next_num
           ^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\_api\deprecation.py", line 454, in wrapper
    return func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 840, in figure
    managers can measurably slow down figure display.
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 383, in new_figure_manager
    if matplotlib.is_interactive():
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 361, in _warn_if_gui_out_of_main_thread
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 208, in _get_backend_mod
    This works both with IPython and with vanilla python shells.
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\pyplot.py", line 271, in switch_backend
    """

  File "C:\Users\hyeseung\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<frozen importlib._bootstrap>", line 1204, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1176, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1126, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1204, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1176, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1147, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 690, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 940, in exec_module
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib_inline\__init__.py", line 1, in <module>
    from . import backend_inline, config  # noqa
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib_inline\backend_inline.py", line 8, in <module>
    from matplotlib.backends import backend_agg
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\matplotlib\backends\backend_agg.py", line 39, in <module>
    from matplotlib.backends._backend_agg import RendererAgg as _RendererAgg
ImportError: DLL load failed while importing _backend_agg: The specified module could not be found.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2102, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1310, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1199, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1052, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 978, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 878, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 712, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\hyeseung\anaconda3\Lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

## 재현율, 정밀도

In [65]:
true_categories = data['Passenger_Count'].apply(categorize_prediction)

In [66]:
# Slice true_categories to match the length of categories
# Assuming you have categorized the true values in a similar manner
true_categories_aligned = true_categories[window_size:len(data) - predict_ahead]

# Now both true_categories_aligned and categories should have the same length
# Check the lengths to confirm
print(len(true_categories_aligned), len(categories))

# If the lengths match, proceed with calculating the confusion matrix
if len(true_categories_aligned) == len(categories):
    cm = confusion_matrix(true_categories_aligned, categories)
    precision = precision_score(true_categories_aligned, categories, average='weighted')
    recall = recall_score(true_categories_aligned, categories, average='weighted')

    print(f"Precision: {precision}")
    print(f"Recall: {recall}")
else:
    print("Length mismatch between actual and predicted categories.")

296 296
Precision: 0.013981464572680787
Recall: 0.11824324324324324

C:\Users\hyeseung\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

정밀도 (Precision): 약 0.8063입니다. 이는 모델이 '위험', '매우혼잡', '혼잡', '보통', '여유' 등의 범주를 예측할 때, 예측이 정확한 비율이 약 80.63%임을 의미합니다. 정밀도가 높을수록 거짓 양성(실제로는 해당 범주가 아닌데 해당 범주로 잘못 예측한 경우)의 수가 적다는 것을 나타냅니다.

재현율 (Recall): 약 0.7601입니다. 이는 실제로 각 범주에 속하는 데이터 중에서 모델이 얼마나 많은 비율을 정확하게 예측했는지를 나타내는 값입니다. 재현율이 높을수록 거짓 음성(실제로 해당 범주인데 다른 범주로 잘못 예측한 경우)의 수가 적다는 것을 의미합니다.